.review-modal {
  width: 95%;
  max-height: 550px;
  padding: 32px 24px;

  background: var(--primary-background-color);
  border-radius: 15px;
}

@media screen and (min-width: 375px) {
  .review-modal {
    width: 311px;
    max-height: 471px;
  }
}

@media screen and (max-width: 767px) {
  .review-modal .title-accent {
    letter-spacing: -0.07em;
  }
}

@media screen and (min-width: 768px) {
  .review-modal {
    width: 517px;
    max-height: 631px;
    padding: 40px;
  }
}

.review-modal__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 27px;
  height: 27px;

  border-radius: 50%;
  border: none;
  background-color: transparent;

  transition: background-color var(--duration) var(--time-function);
}

.review-modal__close-btn:hover,
.review-modal__close-btn:focus {
  background-color: var(--accent-color);
}

.close-btn__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;

  stroke: #000;

  transition: stroke var(--duration) var(--time-function);
}

.review-modal__close-btn:hover .close-btn__img,
.review-modal__close-btn:focus .close-btn__img {
  stroke: var(--white-color);
}

@media screen and (min-width: 768px) {
  .close-btn__img {
    width: 14px;
    height: 14px;
  }
}

@media screen and (min-width: 768px) {
  .review-modal__close-btn {
    top: 24px;
    right: 24px;
    width: 35px;
    height: 35px;
  }
}

.modal-review__title {
  max-width: 245px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .modal-review__title {
    max-width: 300px;
    margin-bottom: 40px;
  }
}

.review-modal__label {
  display: block;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .review-modal__label {
    margin-bottom: 19px;
  }
}

.review-modal__input {
  width: 100%;
  height: 45px;
  padding-left: 18px;
  padding-right: 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);

  border-radius: 8px;
}

.review-modal__input::placeholder,
.review-modal__message::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

@media screen and (min-width: 768px) {
  .review-modal__input {
    height: 66px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 13px;
  }

  .review-modal__input::placeholder,
  .review-modal__message::placeholder {
    font-size: 18px;
  }

  .review-modal__message,
  .review-modal__input,
  .iti--separate-dial-code .iti__selected-dial-code {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
  }
}

.review-modal__textarea {
  margin-bottom: 18px;
}

.review-modal__message {
  width: 100%;
  height: 91px;
  padding: 14px 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);

  border-radius: 8px;
  resize: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.review-modal__message::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .review-modal__input::placeholder,
  .review-modal__message::placeholder {
    font-size: 18px;
  }

  .review-modal__message {
    padding: 22px 24px;
    height: 137px;

    border-radius: 13px;
  }
}

.review-modal__form-submit {
  .modal-form-submit {
    height: 41px;
    padding: 12px 28px;

    transition: border var(--duration) var(--time-function),
      background-color var(--duration) var(--time-function),
      color var(--duration) var(--time-function);
  }
}

@media screen and (min-width: 768px) {
  .review-modal__form-submit {
    padding: 14px 40px;
    height: 45px;
  }
}

.review-modal__form-submit {
  height: 41px;
  padding: 12px 28px;

  transition: border var(--duration) var(--time-function),
    background-color var(--duration) var(--time-function),
    color var(--duration) var(--time-function);
}

@media screen and (min-width: 768px) {
  .review-modal__form-submit {
    padding: 14px 40px;
    height: 45px;
  }
}
