.ingredients-content {
  max-width: 335px;
  margin: 0 auto 32px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .ingredients-content {
    max-width: 486px;
    margin-bottom: 50px;
  }
}

.ingredients__title {
  padding: 0 24px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .ingredients__title {
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 768px) {
  .ingredients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .ingredients__list {
    gap: 12px;
  }
}

.ingredients__item {
  position: relative;
  height: 270px;

  perspective: 1000px;
}

.ingredients__item:not(:last-child) {
  margin-bottom: 20px;
}

.ingredients__item-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

.ingredients__item:hover .ingredients__item-inner {
  transform: rotateY(180deg);
}

@media screen and (min-width: 768px) {
  .ingredients__item {
    flex-basis: calc((100% - 32px) / 2);
  }
  .ingredients__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .ingredients__item:nth-child(7) {
    order: 3;
  }
  .ingredients__item:nth-child(4) {
    order: 1;
  }
}

@media screen and (min-width: 1200px) {
  .ingredients__item {
    flex-basis: calc((100% - 3 * 12px) / 4);
  }
}

.ingredients__item-front,
.ingredients__item-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 28px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
}

.ingredients__item:nth-child(2n) .ingredients__item-front {
  border: 1px solid var(--accent-color);
  background-color: var(--white-color);
}

.orange-bg {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.front-img {
  margin: 0 auto;
}

.item-front__headline {
  margin-top: 25px;
  font-weight: 600;
}

.ingredients__item-back {
  transform: rotateY(180deg);
  border: 1px solid #fd9222;

  background-color: var(--white-color);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ingredients__item-back::-webkit-scrollbar {
  display: none;
}

.item-back__headline {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
}

.item-back__text {
  line-height: 1.29;
}

.item-back__headline {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
}

.black {
  background-color: var(--secondary-background-color);
  color: var(--white-color);
}
