.products-wrapper {
  padding-bottom: 33px;
}

@media screen and (min-width: 768px) {
  .product-wrapper {
    padding-bottom: 45px;
  }
}

.item {
  display: flex;
}

.products__item {
  padding: 32px 52px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  max-width: 100%;

  background-color: var(--white-color);
  text-align: center;
  cursor: pointer;

  transition: border var(--duration) var(--time-function);
}

@media screen and (min-width: 768px) {
  .products__item {
    max-width: 270px;
    padding: 32px 20px;
  }
}

.products__item:hover,
.products__item:focus {
  border: 1px solid var(--accent-color);
}

.products__item:hover .products__item-img,
.products__item:focus .products__item-img {
  transform: scale(1.1);
}

.products__item:hover .products__item-title,
.products__item:focus .products__item-title {
  color: var(--accent-color);
}

.products__item:hover .products__item-btn,
.products__item:focus .products__item-btn {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  color: var(--white-color);
}

.products__item-img {
  margin-bottom: 8px;

  transition: transform var(--duration) var(--time-function);
}

.products__item-title {
  margin-bottom: 2px;

  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;

  transition: color var(--duration) var(--time-function);
}

.products__item-text {
  margin-bottom: 18px;

  font-size: 12px;
  line-height: 1.17;
  color: rgba(17, 17, 17, 0.7);
}

.products__item-btn {
  min-width: 94px;
  padding: 8px 19px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;

  background-color: var(--primary-background-color);
  font-weight: 600;

  transition: background-color var(--duration) var(--time-function),
    color var(--duration) var(--time-function),
    border var(--duration) var(--time-function);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px;
  color: #c4c3c3;
}

.swiper-button-next:hover::after,
.swiper-button-next:focus::after,
.swiper-button-prev:hover::after,
.swiper-button-prev:focus::after {
  color: var(--accent-color);
}
