@media screen and (min-width: 768px) {
  .sellers-section {
    padding-bottom: 120px;
  }
}

.sellers__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  margin-bottom: 32px;
}

.sellers__list-item {
  display: flex;
  flex-direction: column;
  background: var(--secondary-color);

  border-radius: 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
}

.sellers__list-item:nth-last-child(-n + 2) {
  display: none;
}

@media screen and (min-width: 768px) {
  .sellers__list-item:nth-last-child(-n + 1) {
    display: inherit;
  }
}

@media screen and (min-width: 1168px) {
  .sellers__list-item:nth-last-child(-n + 2) {
    display: block;
  }
}

.sellers__list-img {
  width: 100%;
}

.sellers__list-item:hover .sellers__item-headline {
  color: var(--accent-color);
}

.sellers__list-item:hover {
  border: 1px solid var(--accent-color);
}

.sellers__wrap {
  position: relative;
  overflow: hidden;
}

.sellers__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.28px;
  color: #fafafa;
  padding: 160px 40px;
  border-radius: 15px 15px 0px 0px;
  background-image: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0) 100%
  );
  backdrop-filter: blur(7.5px);
  transform: translateY(100%);
  transition-duration: 700ms;
}

.sellers__list-item:hover .sellers__overlay {
  transform: translateY(0%);
}

.sellers__list-img {
  border-radius: 15px 15px 0 0;
}

.sellers__item-headline {
  padding: 28px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33em;
  letter-spacing: -0.36px;
  color: var(--primary-color);
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .sellers-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.sellers-btn {
  display: block;
  margin: 0 auto;
  padding: 12px 28px;
  min-width: 120px;
}

@media screen and (min-width: 1200px) {
  .sellers-btn {
    font-size: 18px;
    padding: 14px 40px;
    min-width: 162px;
    min-height: 50px;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .sellers-text {
    max-width: 306px;
  }
}

@media screen and (min-width: 1200px) {
  .sellers-text {
    max-width: 407px;
  }
}
