<footer class="page-footer" id="footer">
  <div class="container">
    <div class="footer__contacts">
      <h2 class="footer__headline">
        <span class="footer__headline-span">Chocolate</span> a delicious cure
        for a bad day
      </h2>
      <div class="footer-contacts-adress__wrap">
        <div class="footer__adrress-wrap">
          <h3 class="footer__contacts-headline">Developed by</h3>
          <address>
            <ul class="footer__address-list">
              <li class="footer__adress-item">
                <a
                  class="footer__adrress-link"
                  href="https://t.me/Cookie_cap"
                  target="_blank"
                  >Andrew Motko</a
                >
              </li>
              <li class="footer__adress-item">
                <a
                  class="footer__adrress-link"
                  href="mailto:simplychoc@gmail.com"
                  >andrew.motko@gmail.com</a
                >
              </li>
            </ul>
          </address>
        </div>
        <div class="footer__contacts-wrap">
          <h3 class="footer__contacts-headline">My GitHub</h3>
          <ul class="footer__contacts-list">
            <li class="footer__contacts-item">
              <a class="footer__contacts-link" href="https://github.com/AM1007">
                <svg class="footer-adrress__icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer__nav-form-wrap">
      <nav class="footer__nav">
        <ul class="footer__nav-list list">
          <li class="footer__nav-link">
            <a href="./index.html" class="footer__nav-link">Home</a>
          </li>
          <li class="footer__nav-link">
            <a href="#how-made" class="footer__nav-link">How it’s made?</a>
          </li>
          <li class="footer__nav-link">
            <a href="#our-products" class="footer__nav-link">Our products</a>
          </li>
          <li class="footer__nav-link">
            <a href="#top-sellers" class="footer__nav-link">Top Sellers</a>
          </li>
          <li class="footer__nav-link">
            <a href="#reviews" class="footer__nav-link">Chocolate is loved</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
