<header class="page-header">
  <div class="page-header-container container">
    <nav class="header-nav">
      <div class="header-logo__wrap">
        <a href="/index.html" class="header-logo__link link">
          <span class="header-logo__link-span">simply</span>&nbsp; chocolate
          <svg
            class="header-nav__logo-icon"
            width="24"
            height="24"
            aria-label="Simply chocolate logotype"
          >
            <use href="./img/sprite.svg#icon-chocolate"></use>
          </svg>
        </a>
      </div>

      <!-- Header menu -->

      <ul class="header-nav__list list">
        <li class="header-nav__item">
          <a href="./index.html" class="header-nav__link link">Home</a>
        </li>
        <li class="header-nav__item">
          <a href="#how-made" class="header-nav__link link">How it's made?</a>
        </li>
        <li class="header-nav__item">
          <a href="#reviews" class="header-nav__link link"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>

    <!-- Socials -->

    <ul class="header-adrress__list list">
      <li class="header-adrress__list-item link">
        <a
          href="https://facebook.com"
          class="header-adrress__link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook icon"
        >
          <svg class="header-adrress__icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-adrress__list-item link">
        <a
          href="https://instagram.com"
          class="header-adrress__link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="instagram icon"
        >
          <svg class="header-adrress__icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li class="header-adrress__list-item link">
        <a
          href="https://twitter.com"
          class="header-adrress__link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="twitter icon"
        >
          <svg class="header-adrress__icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>

    <!-- Mobile menu -->

    <button
      class="menu-open__button js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg
        class="menu-open__icon"
        width="32"
        height="22"
        stroke="var(--primary-color)"
      >
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-close__button js-close-menu">
      <svg class="menu-close__icon" width="28" height="28">
        <use href="./img/sprite.svg#icon-cross"></use>
      </svg>
    </button>

    <ul class="mobile-menu__list list">
      <li class="mobile-menu__item">
        <a href="./index.html" class="mobile-menu__link link">Home</a>
      </li>
      <li class="mobile-menu__item">
        <a href="./how-made.html" class="mobile-menu__link link"
          >How it’s made?</a
        >
      </li>
      <li class="mobile-menu__item">
        <a href="./topsellers.html" class="mobile-menu__link link"
          >Chocolate is loved</a
        >
      </li>
    </ul>

    <ul class="mobile-menu__socials-list">
      <li class="mobile-menu__socials-item list">
        <a
          class="mobile-menu__socials-link"
          href="https://www.facebook.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook icon"
        >
          <svg class="mobile-menu__socials-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu__socials-item list">
        <a
          class="mobile-menu__socials-link"
          href="https://www.instagram.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook icon"
        >
          <svg class="mobile-menu__socials-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu__socials-item list">
        <a
          class="mobile-menu__socials-link"
          href="https://www.twitter.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook icon"
        >
          <svg class="mobile-menu__socials-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
