<section class="hero container">
  <h1 class="main-title">
    Treat yourself or a loved one to our finest ingredients for a moment of pure
    delight!
  </h1>
  <div class="hero-bottom-block">
    <button class="buy-now-btn" type="button">Buy now</button>
    <a class="how-made-link link" href="#how-made">How it’s made</a>
    <a class="scroll-down-link link" href="">
      scroll down
      <span class="scroll-down-icon-wrapper">
        <svg
          class="scroll-down-icon"
          width="22"
          height="22"
          aria-label="scroll down icon"
        >
          <use href="./img/sprite.svg#icon-scroll-down"></use>
        </svg>
      </span>
    </a>
  </div>
</section>
