<section id="how-made" class="how-made-section">
  <div class="container">
    <h2 class="section-headline">
      HOW IT'S <span class="section-headline__span">MADE</span>
    </h2>
    <div class="how-made__division-wrap">
      <div class="how-made__division">
        <img
          src="../img/image.jpg"
          alt="chocolate making"
          class="how-made__division-img"
          width="600"
          height="400"
        />
      </div>
      <div class="how-made__division-text">
        <h3 class="how-made__headline">
          Try out chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="how-made__list list">
          <li class="how-made__list-item link">
            <svg class="how-made__icon" width="8" height="8">
              <use href="../img/sprite.svg#icon-ellipse"></use>
            </svg>
            <p class="list-item__paragraph">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li class="how-made__list-item link">
            <svg class="how-made__icon" width="8" height="8">
              <use href="../img/sprite.svg#icon-ellipse"></use>
            </svg>
            <p class="list-item__paragraph">
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li class="how-made__list-item link">
            <svg class="how-made__icon" width="8" height="8">
              <use href="../img/sprite.svg#icon-ellipse"></use>
            </svg>
            <p class="list-item__paragraph">
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky. it.
            </p>
          </li>
          <li class="how-made__list-item link">
            <svg class="how-made__icon" width="8" height="8">
              <use href="../img/sprite.svg#icon-ellipse"></use>
            </svg>
            <p class="list-item__paragraph">
              Heat the mixture over low heat, letting it barely boil. it.
            </p>
          </li>
          <li class="how-made__list-item link">
            <svg class="how-made__icon" width="8" height="8">
              <use href="../img/sprite.svg#icon-ellipse"></use>
            </svg>
            <p class="list-item__paragraph">
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
