<section class="ingredients-section">
  <div class="container">
    <h2 class="section-headline">
      It all adds up to one exceptional
      <span class="section-headline__span">taste</span> sensation
    </h2>

    <ul class="ingredients__list list">
      <li class="ingredients__list-item link">
        <button type="button" class="ingredients__item-button">
          <svg class="ingredients__item-icon" width="8" height="8">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <img
          src="./img/ingredients/img-1.png"
          alt="chocolate"
          width="214"
          height="160"
          class="ingredients__img"
        />
        <h3 class="ingredients__item-headline-white">MILK CHOCOLATE</h3>
      </li>
      <li class="ingredients__list-item link">
        <button type="button" class="ingredients__item-button-milk">
          <svg class="ingredients__item-icon-milk" width="8" height="8">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <img
          src="./img/ingredients/img-2.png"
          alt="milk"
          width="214"
          height="160"
          class="ingredients__img"
        />
        <h3 class="ingredients__item-headline-black">MILK</h3>
      </li>
      <li class="ingredients__list-item link">
        <button type="button" class="ingredients__item-button-dark">
          <svg class="ingredients__item-icon-dark" width="8" height="8">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <img
          src="./img/ingredients/img-3.png"
          alt="nuts"
          width="214"
          height="160"
          class="ingredients__img"
        />
        <h3 class="ingredients__item-headline-white">NUTS</h3>
      </li>
      <li class="ingredients__list-item link">
        <button type="button" class="ingredients__item-button-milk">
          <svg class="ingredients__item-icon-milk" width="8" height="8">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <img
          src="./img/ingredients/img-4.png"
          alt="semi-sweet chocolate"
          width="214"
          height="160"
          class="ingredients__img"
        />
        <h3 class="ingredients__item-headline-black">SEMI-SWEET CHOCOLATE</h3>
      </li>
      <li class="ingredients__list-item link">
        <button type="button" class="ingredients__item-button">
          <svg class="ingredients__item-icon" width="8" height="8">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <img
          src="./img/ingredients/img-5.png"
          alt="semi-sweet chocolate"
          width="214"
          height="160"
          class="ingredients__img"
        />
        <h3 class="ingredients__item-headline-white">CACAO</h3>
      </li>
      <li class="ingredients__list-item link">
        <button type="button" class="ingredients__item-button-milk">
          <svg class="ingredients__item-icon-milk" width="8" height="8">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <img
          src="./img/ingredients/img-6.png"
          alt="raspberry"
          width="214"
          height="160"
          class="ingredients__img"
        />
        <h3 class="ingredients__item-headline-black">RASPBERRY</h3>
      </li>
      <li class="ingredients__list-item link">
        <button type="button" class="ingredients__item-button-dark">
          <svg class="ingredients__item-icon-dark" width="8" height="8">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <img
          src="./img/ingredients/img-7.png"
          alt="raspberry"
          width="214"
          height="160"
          class="ingredients__img"
        />
        <h3 class="ingredients__item-headline-white">COCONUT OIL</h3>
      </li>
    </ul>
  </div>
</section>
