<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__button-close" type="button" data-modal-close>
      <svg
        class="modal-button-close__icon"
        width="14"
        height="14"
        aria-label="icon-modal-close"
      >
        <use href="./img/sprite.svg#icon-cross"></use>
      </svg>
    </button>

    <form class="modal__form">
      <p class="modal-headline">
        LEAVE A REVIEW ABOUT
        <span class="modal-headline__span">OUR CHOCOLATE</span>
      </p>

      <label class="modal__label">
        <p class="modal__name">Name</p>
        <span class="modal__input-wrapper">
          <input
            class="modal__input"
            type="text"
            name="user_name"
            pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐʼ]+"
            required
          />
          <svg class="modal__icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-user"></use>
          </svg>
        </span>
      </label>

      <label class="modal__label">
        <p class="modal__name">Email</p>
        <span class="modal__input-wrapper">
          <input
            class="modal__input"
            type="text"
            name="user_email"
            pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐʼ]+"
            required
          />
          <svg class="modal__icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-mail"></use>
          </svg>
        </span>
      </label>

      <label class="modal__label">
        <p class="modal__name">Phone number</p>
        <span class="modal__input-wrapper">
          <input
            class="modal__input"
            type="text"
            name="user_phone"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xxx-xxx-xx-xx"
            required
          />
          <svg class="modal__icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-phone"></use>
          </svg>
        </span>
      </label>

      <label class="modal__label">
        <p class="modal__name">Comment</p>
        <textarea
          class="modal__review-message"
          name="user_message"
          placeholder="Enter text"
        ></textarea>
      </label>

      <label class="modal__label-checkbox">
        <input
          class="modal__checkbox"
          type="checkbox"
          name="user_policy"
          required
        />
        <svg class="modal__checkbox-icon" width="20" height="20">
          <use href="./img/sprite.svg#icon-checkmark"></use>
        </svg>
        I accept the terms and conditions of the&nbsp;
        <a class="accent-color" href="">Privacy Policy</a>
      </label>
      <button class="modal__send-btn" type="submit">Send</button>
    </form>
  </div>
</div>
