<section class="products-section">
  <div class="container">
    <h2 class="section-headline">
      OUR <span class="section-headline__span">PRODUCTS</span>
    </h2>

    <ul class="products__list list">
      <li class="products__list-item link">
        <img
          src="../img/products/img-11.jpg"
          alt="Dark chocolate orange"
          width="230"
          height="201"
          class="products__list-img"
        />
        <h3 class="products__item-headline">orange</h3>
        <p class="products__item-name">Dark chocolate</p>
        <button type="button" class="products__item-price">45 UAH</button>
      </li>
      <li class="products__list-item link">
        <img
          src="../img/products/img-12.jpg"
          alt="Milk chocolate APPLE&CRANBERRY"
          width="230"
          height="201"
          class="products__list-img"
        />
        <h3 class="products__item-headline">APPLE&CRANBERRY</h3>
        <p class="products__item-name">Milk chocolate</p>
        <button type="button" class="products__item-price">50 UAH</button>
      </li>
      <li class="products__list-item link">
        <img
          src="../img/products/img-13.jpg"
          alt="Dark chocolate lime&sea salt"
          width="230"
          height="201"
          class="products__list-img"
        />
        <h3 class="products__item-headline">lime&sea salt</h3>
        <p class="products__item-name">Dark chocolate</p>
        <button type="button" class="products__item-price">66 UAH</button>
      </li>
      <li class="products__list-item link">
        <img
          src="../img/products/img-14.jpg"
          alt="Dark chocolate pineapple"
          width="230"
          height="201"
          class="products__list-img"
        />
        <h3 class="products__item-headline">pineapple</h3>
        <p class="products__item-name">Dark chocolate</p>
        <button type="button" class="products__item-price">54 UAH</button>
      </li>
      <li class="products__list-item link">
        <img
          src="../img/products/img-15.jpg"
          alt="Milk chocolate Classic"
          width="230"
          height="201"
          class="products__list-img"
        />
        <h3 class="products__item-headline">Classic</h3>
        <p class="products__item-name">Milk chocolate</p>
        <button type="button" class="products__item-price">45 UAH</button>
      </li>
      <li class="products__list-item link">
        <img
          src="../img/products/img-16.jpg"
          alt="Milk chocolate honey"
          width="230"
          height="201"
          class="products__list-img"
        />
        <h3 class="products__item-headline">honey</h3>
        <p class="products__item-name">Milk chocolate</p>
        <button type="button" class="products__item-price">50 UAH</button>
      </li>
      <li class="products__list-item link">
        <img
          src="../img/products/img-17.jpg"
          alt="Dark chocolate Roasted fruits"
          width="230"
          height="201"
          class="products__list-img"
        />
        <h3 class="products__item-headline">Roasted fruits</h3>
        <p class="products__item-name">Dark chocolate</p>
        <button type="button" class="products__item-price">66 UAH</button>
      </li>
      <li class="products__list-item link">
        <img
          src="../img/products/img-18.jpg"
          alt="White chocolate Classic"
          width="230"
          height="201"
          class="products__list-img"
        />
        <h3 class="products__item-headline">Classic</h3>
        <p class="products__item-name">White chocolate</p>
        <button type="button" class="products__item-price">54 UAH</button>
      </li>
    </ul>
  </div>
</section>
