<section class="review-section section" id="reviews">
  <div class="container">
    <h2 class="title"><span class="title-accent">CHOCOLATE</span> IS LOVED</h2>
    <div class="review-swiper swiper-padding">
      <ul class="swiper-wrapper review__list">
        <!-- Victoria -->
        <li class="review__list-item swiper-slide">
          <div class="review__card">
            <img
              srcset="
                ./img/review/victoria.webp    1x,
                ./img/review/victoria@2x.webp 2x,
                ./img/review/victoria@3x.webp 3x
              "
              src="./img/review/victoria.jpg"
              alt="Victoria Dobrzhanska avatar"
              width="80"
              height="80"
              class="review__item-img"
            />
            <h3 class="review__item-title">Victoria Dobrzhanska</h3>
            <p class="review__item-paragraph">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </li>

        <!-- Nazar -->
        <li class="review__list-item swiper-slide">
          <div class="review__card">
            <img
              srcset="
                ./img/review/nazar.webp    1x,
                ./img/review/nazar@2x.webp 2x,
                ./img/review/nazar@3x.webp 3x
              "
              src="./img/reviews/nazar.jpg"
              alt="Nazar Babenko avatar"
              width="80"
              height="80"
              class="review__item-img"
            />
            <h3 class="review__item-title">Nazar Babenko</h3>
            <p class="review__item-paragraph">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </li>

        <!-- Olena -->
        <li class="review__list-item swiper-slide">
          <div class="review__card">
            <img
              srcset="
                ./img/review/olena.webp    1x,
                ./img/review/olena@2x.webp 2x,
                ./img/review/olena@3x.webp 3x
              "
              src="./img/review/olena.jpg"
              alt="Olena Kampusch avatar"
              width="80"
              height="80"
              class="review__item-img"
            />
            <h3 class="review__item-title">Olena Kampusch</h3>
            <p class="review__item-paragraph">
              Chocolate is a family favorite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </li>

        <!-- Natalia -->
        <li class="review__list-item swiper-slide">
          <div class="review__card">
            <img
              srcset="
                ./img/review/natalia.webp    1x,
                ./img/review/natalia@2x.webp 2x,
                ./img/review/natalia@3x.webp 3x
              "
              src="./img/review/natalia.jpg"
              alt="Natalia Sus avatar"
              width="80"
              height="80"
              class="review__item-img"
            />
            <h3 class="review__item-title">Natalia Sus</h3>
            <p class="review__item-paragraph">
              The chocolate assortment was delicious. Both dark and milk
              chocolate pieces were smooth and just right on the sweetness
              level.
            </p>
          </div>
        </li>

        <!-- Danilo -->
        <li class="review__list-item swiper-slide">
          <div class="review__card">
            <img
              srcset="
                ./img/review/danilo.webp    1x,
                ./img/review/danilo@2x.webp 2x,
                ./img/review/danilo@3x.webp 3x
              "
              src="./img/review/danilo.jpg"
              alt="Danilo Nottingham avatar"
              width="80"
              height="80"
              class="review__item-img"
            />
            <h3 class="review__item-title">Danilo Nottingham</h3>
            <p class="review__item-paragraph">
              This is delicious. It so rich and flavorful you don’t need to use
              as many. I love topping an apple with almond butter and these
              chips for a snack.
            </p>
          </div>
        </li>

        <!-- Irina -->
        <li class="review__list-item swiper-slide">
          <div class="review__card">
            <img
              srcset="
                ./img/review/irina.webp    1x,
                ./img/review/irina@2x.webp 2x,
                ./img/review/irina@3x.webp 3x
              "
              src="./img/review/irina.jpg"
              alt="Irina Tydnyuk avatar"
              width="80"
              height="80"
              class="review__item-img"
            />
            <h3 class="review__item-title">Irina Tydnyuk</h3>
            <p class="review__item-paragraph">
              This is simply the best chocolate around, and I'm just thrilled to
              support a local company! Best local chocolate - world class.
            </p>
          </div>
        </li>
      </ul>
      <!-- <div class="swiper-pagination-review"></div> -->
      <button class="review__btn js-open-modal" type="button" data-modal="2">
        Leave a review
      </button>
    </div>
  </div>
</section>
