.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav__logo-icon {
  margin-left: 4px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header-nav {
    max-width: 528px;
  }
}

@media screen and (min-width: 1168px) {
  .header-nav {
    max-width: 898px;
  }
}

.header-logo__wrap {
  display: flex;
  align-items: center;

  gap: 4px;
}

.header-logo__link {
  display: flex;
  align-items: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.42px;
  text-transform: uppercase;

  color: var(--primary-color);
}

@media screen and (min-width: 1168px) {
  .header-logo__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11em;
    letter-spacing: -0.54px;
    color: var(--primary-color);
  }
}

.header-logo__link-span {
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.42px;
  color: var(--primary-color);
}

@media screen and (min-width: 1168px) {
  .header-logo__link-span {
    font-size: 18px;
    font-style: italic;
    line-height: 1.11em;
    letter-spacing: -0.54px;
    color: var(--primary-color);

    text-transform: uppercase;
  }
}

/**
  |============================
  | Header menu
  |============================
*/

.header-nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.header-nav__link {
  display: block;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: -0.28px;
  color: var(--primary-color);
  transition: color var(--transition-dur-and-func);
}

.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--accent-color);
}

/**
  |============================
  | Header Adress
  |============================
*/

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-adrress__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-adrress__list {
    display: flex;
    align-items: center;
    gap: 14px;
  }
}

.header-adrress__link {
  display: flex;
  align-items: flex-start;

  padding: 8px;

  gap: 8px;
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  transition: border var(--transition-dur-and-func);
}

.header-adrress__link:hover,
.header-adrress__link:focus {
  border: 1px solid rgba(253, 146, 34, 0.1);
}

.header-adrress__link:hover .header-adrress__icon,
.header-adrress__link:focus .header-adrress__icon {
  border: 1px solid rgba(253, 146, 34, 0.1);
  fill: var(--accent-color);
}

.header-adrress__icon {
  fill: var(--primary-color);
  transition: fill var(--transition-dur-and-func);
}

/**
  |============================
  | Mobile menu
  |============================
*/

.menu-open__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}
.menu-open__button:hover,
.menu-open__button:focus {
  border: 1px solid var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-open__button {
    display: none;
  }
}

.menu-container {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 136px 35px 40px 20px;
  background-color: #1e1823;
  z-index: 999;

  transform: translateX(-100%);
  transition: var(--transition-dur-and-func);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-close__button {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  width: 28px;
  height: 28px;
  outline: transperent;
  background-color: #1e1823;
  border: none;

  transition: background-color var(----transition-dur-and-func),
    border var(----transition-dur-and-func);
}

.menu-close__icon {
  fill: var(--secondary-color);
  transition: fill var(--transition-dur-and-func);
}

.menu-close__button:hover,
.menu-close__button:focus {
  background-color: #1e1823;
}

.menu-close__button:hover .menu-close__icon,
.menu-close__button:focus .menu-close__icon {
  fill: var(--accent-color);
}

/**
  |============================
  | Mobile menu navigation
  |============================
*/

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.28px;
  color: var(--secondary-color);
  transition: color var(--transition-dur-and-func);
}

.mobile-menu__link:hover {
  color: var(--accent-color);
}

.mobile-menu__socials-list {
  display: flex;
  gap: 14px;
}

.mobile-menu__socials-link {
  display: flex;
  align-items: flex-start;
  padding: 8px;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: border-color var(--transition-dur-and-func);
}

.mobile-menu__socials-icon {
  fill: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill var(--transition-dur-and-func);
}

.mobile-menu__socials-link:hover,
.mobile-menu__socials-link:focus {
  border-color: var(--accent-color);
}

.mobile-menu__socials-link:hover .mobile-menu__socials-icon,
.mobile-menu__socials-link:focus .mobile-menu__socials-icon {
  fill: var(--accent-color);
}
