.ingredients-section {
  padding: 80px 0;
}

@media screen and (min-width: 768px) {
  .ingredients-section {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1168px) {
  .ingredients-section {
    padding: 120px 0;
  }
}

.ingredients__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .ingredients__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 32px;
  }
}

/* .ingredients__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 24px;
} */

.ingredients__img {
  margin-bottom: 16px;
}

@media screen and (min-width: 1168px) {
  .ingredients__img {
    margin-bottom: 36px;
  }
}

.ingredients__list-item {
  position: relative;
  padding: 32px 28px 28px 28px;
  width: 100%;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .ingredients__list-item {
    width: calc((100% - 32px) / 2);
    padding: 28px 23px;
  }
}

@media screen and (min-width: 1168px) {
  .ingredients__list-item {
    width: calc((100% - 96px) / 4);
    padding: 28px 23px;
  }
}

/* Card button orange */

.ingredients__item-button {
  position: absolute;
  top: 14px;
  left: 292px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid var(--milk);
  transition: border var(--transition-dur-and-func);
  transition: background-color var(--transition-dur-and-func);
}

@media screen and (min-width: 1168px) {
  .ingredients__item-button {
    top: 14px;
    left: 214px;
  }
}

.ingredients__item-icon {
  fill: var(--milk);
  transition: fill var(--transition-dur-and-func);
}

.ingredients__item-button:hover .ingredients__item-icon,
.ingredients__item-button:focus .ingredients__item-icon {
  fill: var(--orange);
}

.ingredients__item-button:hover,
.ingredients__item-button:focus {
  border: 1px solid var(--milk);
  background-color: var(--milk);
}

/* Card button milk */

.ingredients__item-button-milk {
  position: absolute;
  top: 14px;
  left: 292px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid var(--orange);
}

@media screen and (min-width: 1168px) {
  .ingredients__item-button-milk {
    top: 14px;
    left: 214px;
  }
}

.ingredients__item-icon-milk {
  fill: var(--orange);
  transition: fill var(--transition-dur-and-func);
}

.ingredients__item-button-milk:hover .ingredients__item-icon-milk,
.ingredients__item-button-milk:focus .ingredients__item-icon-milk {
  fill: var(--milk);
}

.ingredients__item-button-milk:hover,
.ingredients__item-button-milk:focus {
  border: 1px solid var(--orange);
  background-color: var(--orange);
}

/* Card button dark */

.ingredients__item-button-dark {
  position: absolute;
  top: 14px;
  left: 292px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid var(--white);
  transition: background-color var(--transition-dur-and-func);
}

@media screen and (min-width: 1168px) {
  .ingredients__item-button-dark {
    top: 14px;
    left: 214px;
  }
}

.ingredients__item-icon-dark {
  fill: var(--white);
  transition: fill var(--transition-dur-and-func);
}

.ingredients__item-button-dark:hover .ingredients__item-icon-dark,
.ingredients__item-button-dark:focus .ingredients__item-icon-dark {
  fill: var(--black);
}

.ingredients__item-button-dark:hover,
.ingredients__item-button-dark:focus {
  border: 1px solid var(--white);
  background-color: var(--white);
}

/* n-tn Card color */

.ingredients__list-item:nth-child(2n) {
  background-color: var(--secondary-color);
  border: 1px solid var(--accent-color);
}

.ingredients__list-item:nth-child(4n + 1) {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.ingredients__list-item:nth-child(4n + 3) {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.ingredients__img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.ingredients__item-headline-black {
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28em;
  letter-spacing: -0.28px;
  color: var(--primary-color);
}

.ingredients__item-headline-white {
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28em;
  letter-spacing: -0.28px;
  color: var(--secondary-color);
}
